.create-article h2{
    font-size: 16px;
    font-weight: 700;
    color: #009688;
}

.article-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.article-input .article-title {
    display: block;
    background-color: #ffff;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: black;
}

.article-excerpt, .article-content{
    display: block;
    background-color: #ffff;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: black;
}

.article-input .article-title:focus, .article-excerpt:focus, .article-content:focus{
    outline: none;
    border: 1.5px solid #009688;
    background-color: #f5f5f5;
}

.article-title::placeholder, .article-excerpt::placeholder, .article-content::placeholder {
    color: grey;
  font-size: 15px;
}

.article-btn {
    padding:10px 15px ;
    border-radius: 5px;
    border: none;
    background-color: #009688;
    transition: all 0.2s ease;
}

.article-btn:hover {
    background-color: gray;
    color: white;
    
}